<!DOCTYPE html>
<html <%- head.htmlAttributes.toString() %> >
<head>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="M84QmLURMWUW7yZn_3njxuZBtmx5ZgAuS-OGM2_M6Ys" />
    <%- head.title.toString() %>
    <%- head.meta.toString() %>
</head>
<body>
<noscript id="deferred-styles">
    <% styleSrc.forEach(function(src){ %>
    <link rel="stylesheet" href="<%= src %>" type="text/css" media="screen" charset="utf-8">
    <% }) %>

    <% searchCss.forEach(function(src){ %>
    <link rel="stylesheet" href="<%= src %>" type="text/css" media="screen" charset="utf-8">
    <% }) %>
</noscript>
<script>
  var loadDeferredStyles = function() {
    var addStylesNode = document.getElementById("deferred-styles");
    var replacement = document.createElement("div");
    replacement.innerHTML = addStylesNode.textContent;
    document.body.appendChild(replacement)
    addStylesNode.parentElement.removeChild(addStylesNode);
  };
  var raf = requestAnimationFrame || mozRequestAnimationFrame ||
      webkitRequestAnimationFrame || msRequestAnimationFrame;
  if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
  else window.addEventListener('load', loadDeferredStyles);
</script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-51773618-1', 'auto');
    ga('require', 'linkid');
    ga('require', 'displayfeatures');
    ga('send', 'pageview');
</script>

<!-- Start Alexa Certify Javascript -->
<script type="text/javascript">
    _atrk_opts = { atrk_acct:"73Fum1akGFL1em", domain:"comentarismo.com",dynamic: true};
    (function() { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://d31qbv1cthcecs.cloudfront.net/atrk.js"; var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(as, s); })();
</script>
<noscript><img src="https://d5nxst8fruw4z.cloudfront.net/atrk.gif?account=73Fum1akGFL1em" style="display:none" height="1" width="1" alt="" /></noscript>
<!-- End Alexa Certify Javascript -->


<script type="text/javascript">
  var vglnk = { key: '7b2e8a1a691203fdcfcf9750be490e97' };

  (function(d, t) {
    var s = d.createElement(t); s.type = 'text/javascript'; s.async = true;
    s.src = '//cdn.viglink.com/api/vglnk.js';
    var r = d.getElementsByTagName(t)[0]; r.parentNode.insertBefore(s, r);
  }(document, 'script'));
</script>

<div id="root"><%- html %></div>
<script charset="UTF-8">
    window.__data = <%- reduxState %>;
</script>

<% scriptSrcs.forEach(function(src){ %>
<script defer src="<%= src %>"></script>
<% }) %>

</body>
</html>

